@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../node_modules/leaflet-extra-markers/dist/css/leaflet.extra-markers.min.css';

/* For Phoenix Live reload script */
[hidden] {
  display: none;
}

.t-checkbox {
  @apply h-6 w-12 bg-white appearance-none rounded-full focus:outline-none relative transition-all;

  &::after {
    @apply bg-t-red w-[1.125rem] h-[1.125rem] rounded-full transition-all;
    content: "";
    margin-top: 0.1875rem;
    margin-left: 0.1875rem;
    position: absolute;
  }
  &:checked::after {
    margin-left: 1.6875rem;
  }
}

.burger {
  text-shadow: 2px 2px #0455bf;
}

.sep {
  box-shadow: 1px 2px #0455bf;
}

.log-bot {
  filter: drop-shadow(0px 1px #056CF2)
          drop-shadow(0px 2px #056CF2)
          drop-shadow(0px 3px #056CF2)
          drop-shadow(0px 4px #056CF2)
          drop-shadow(0px 5px #056CF2)
          drop-shadow(0px 6px #056CF2)
          drop-shadow(0px 7px 8px rgba(0, 0, 0, 0.5));
}

.lead-bot {
  filter: drop-shadow(0px 1px #0455bf)
          drop-shadow(0px 2px #0455bf)
          drop-shadow(0px 3px #0455bf)
          drop-shadow(0px 4px #0455bf)
          drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.log-top {
  filter: drop-shadow(0px -1px #033E8C)
          drop-shadow(0px -2px #033E8C)
          drop-shadow(0px -3px #033E8C)
          drop-shadow(0px -4px #033E8C);
}

.back-top {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

.trip {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 3px rgba(0, 0, 0, 0.5);
}

.dropdown-transition {
  transition-property: opacity, z-index, margin;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.filler {
  @apply space-y-6 transition pl-8 border-b-4 border-tr-red border-b-2
    bg-t-red space-y-5 left-14 top-6;
}

.green-3d {
  box-shadow: 0 1px 0 #05734c, 0 2px 0 #05734c, 0 3px 0 #05734c, 0 4px 0 #05734c,
    0 5px 0 #05734c, 0 4px 3px rgba(0, 0, 0, 0.5);
}

.text-red-3d {
  text-shadow: 0 1px 0 #BF263A, 0 2px 2px rgba(0, 0, 0, 0.5);
}

.text-green-3d {
  text-shadow: 0 1px 0 #05734c, 0 2px 2px rgba(0, 0, 0, 0.5);
}

.t-button {
  @extend .green-3d;
  @apply text-white bg-t-green font-sans rounded-2xl tracking-wider uppercase font-bold
    py-4 px-10;

  &:disabled {
    @apply opacity-[0.7];
  }
}

.t-input {
  @apply bg-white rounded-xl px-4 py-2 focus:outline-none focus:ring;
}

.leaflet-marker-icon > svg {
  display: inline; 
}
