@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Phoenix Live reload script */
[hidden] {
  display: none;
}

.burger {
  text-shadow: 2px 2px #0455bf;
}

.trip {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 3px rgba(0, 0, 0, 0.5);
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter, margin-top;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.t-input {
  @apply bg-white rounded-xl px-4 py-2;
}
