<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Trip", suffix: " · Phoenix Framework" %>
    <link href="https://api.fontshare.com/css?f[]=clash-grotesk@200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="h-full flex w-full bg-t-darkerBlue">
    <div class="fixed top-8 left-8">
      <h2 class="uppercase text-white text-3xl tracking-widest font-bold font-sans trip"> 
        <%= gettext "Trip" %>
      </h2>
    </div>
    <%= @inner_content %>
  </body>
</html>
